{% extends "template.html.twig" %}
{% block title %}Se connecter
{% endblock %}
{% block body %}
	<div class="d-flex align-items-center justify-content-center vh-100 mx-auto">
		<form method="POST" action="{{baseUrl}}/login/loginUser">
			<div class="row">
				<div class="col-md-12">
					<label for="">Nom d'utilisateur</label>
					<input type="text" class="form-control mb-3" name="username">
				</div>
				<div class="col-md-12">
					<label for="">Mot de passe</label>
					<input type="password" class="form-control mb-3" name="password">
				</div>
			</div>
			<div class="form-check mb-3">
				<input class="form-check-input" type="checkbox">
				<label class="form-check-label" for="inlineFormCheck">Se souvenir de moi</label>
			</div>
			<button type="submit" class="btn btn-warning mb-2">Connexion</button>
		</div>
	</div>
</form>{% endblock %}
